.hero {
  height:260px;
  background:#20262d;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.hero h1 {
  margin:0;
  font-size:28px;
}

.hero p {
  opacity:0.8;
}
