.editor-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor-body {
  display: flex;
  height: calc(100vh - 60px);
}

/* Sidebar */
.editor-sidebar {
  width: 260px;
  flex-shrink: 0;
}

.editor-sidebar.collapsed {
  width: 70px;
}

/* Center column */
.editor-center {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TopBar */
.topbar {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  z-index: 5;
}

/* Canvas area */
.editor-canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  overflow: auto;
}

/* Layers Panel 
.layers-panel {
  width: 260px;
  border-left: 1px solid #e5e5e5;
  background: #fff;
}
*/

.topbar-dropdown-stack {
  position: absolute;
  top: 45px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  
}

