.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(2,6,23,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 900px;
  height: 90vh;
  border-radius: 48px;
  background: white;
  display: flex;
  flex-direction: column;
}

.dark.modal {
  background: #020617;
}

.modal-header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  margin: 40px;
  padding: 20px;
  border-radius: 32px;
  background: #4f46e5;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
